body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App {
  text-align: center;
}

form {
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* ----- COMPONENTS ----- */

/* NAVBAR */

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  color: aliceblue;
  font-size: 1.2em;
}
header img {
  vertical-align: middle;
}
nav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  margin: 1em;
}
#logout {
  cursor: pointer;
  margin: 1em;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  background-color: gold;
  font-size: 0.7em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar{
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3;
}
.searchbar input {
  padding: 6px;
  background-color: aliceblue;
  width: 0em;
  opacity: 0;
  transition: ease-in-out 0.3s;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.searchbar:hover input {
  opacity: 100;
  width: 13em;
}
#mag {
  cursor: pointer;
  padding: 5px;
}

/* ----- MOBILE OPTIMIZATION ----- */

@media screen and (max-width: 750px) {
  nav {
    display: none;
  }
}