body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
.App {
  text-align: center;
}

/* ----- COMPONENTS ----- */

/* NAVBAR */

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  color: aliceblue;
  font-size: 1.3em;
}
header img {
  vertical-align: middle;
}
nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  margin: 1em;
}
nav button {
  cursor: pointer;
  margin: 1em;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
}
.searchbar{
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3;
}
.searchbar input {
  padding: 6px;
  background-color: aliceblue;
  width: 0em;
  opacity: 0;
  transition: ease-in-out 0.3s;
  border: none;
}
.searchbar:hover input {
  opacity: 100;
  width: 13em;
}
#mag {
  cursor: pointer;
  padding: 5px;
}